<div class="container">
  <div class="row">
    
    <div class="col-md-3">
      s
    </div>

    <div class="col-md-9">
      <ul class="timeline">

        <% @trips.each do |trip| %>

          <!-- Trip Overview -->
          <li class="tl-item">
            <div class="tl-wrap">
              <span class="tl-date">
                4:20 PM <br>
                6-14-15
              </span>
              <div class="tl-content panel padder b-a w-md w-auto-xs">
                <span class="arrow left pull-up"></span>
                <div class="text-lt m-b-sm">
                  <%= link_to trip.user.first_name, trip.user %>
                  <div class="pull-right">
                    <%= link_to 'View Trip', trip, class: 'btn btn-xs btn-default' %>
                  </div>
                </div>
                <div class="panel-body pull-in b-t b-light">
                    
                  <i class="ion-location"></i> <b>(ATH) Athens, GR</b> &nbsp; to &nbsp;
                  <i class="ion-location"></i> <b>(MXP) Milan, IT</b> &nbsp; for &nbsp;
                  <i class="ion-arrow-graph-up-left"></i> <b>4.371</b> &nbsp; miles

                  <div class="" style="display: block">
                    <i class="ion-plane"></i> (A3) Aegean Airlines 664
                  </div>

                </div>
              </div>
            </div>
          </li>

        <% end %>


        <li class="tl-header">
          <div class="btn btn-sm btn-default btn-rounded">Bon Voyage</div>
        </li>
      </ul>
    </div>

  </div>
</div>