





#position {
  background-color: #fff;
  padding: 10px 0;
  font-size: 13px;
  ul {
	  margin: 0;
	  padding: 0;
	  color: #888;
	  li {
		  display: inline-block;
		  padding-right: 8px;
		  margin-right: 3px;
		  position: relative;
		  i {
		  	color: #58666e;
		  }
			a {
				color: #58666e;
				opacity: .7;
			}
		}
	}
}












.TripOverview {
  font-family: 'Titillium Web', sans-serif;
  .TripUser {
    margin-bottom: 20px;
    padding: 15px;
    background-color: #fff;
    border: 1px solid #edf1f2;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.05);
    box-shadow: 0 1px 1px rgba(0,0,0,0.05);
    .Avatar {
      display: inline-block;
      width: 50px;
      margin-right: 15px;
      img {
        height: auto;
        max-width: 100%;
        vertical-align: middle;
      }
    }
    small {
      display: block;
    }
    .btn {
      margin-top: 5px;
    }
  }
}


.TripStatus {
  .Symbol {
    display: inline-block;
    width: 40px;
    position: relative;
    white-space: nowrap;
    border-radius: 500px;
    i {
      font-size: 30px;
      text-align: center;
      display: inherit;
      color: rgba(39,194,76,.8);
    }
  }
  .StatusText {
    font-family: 'Titillium Web', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-left: 50px;
    border: 1px solid #dee5e7;
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.05);
    box-shadow: 0 1px 1px rgba(0,0,0,0.05);
    .Inner {
      position: relative;
      padding: 10px 15px;
    }
  }
}


.arrow.pull-up {
  top: 19px;
}
.arrow.left {
  top: 52%;
  left: -9px;
  margin-top: -9px;
  border-right-color: rgba(0,0,0,0.1);
  border-left-width: 0;
}
.arrow.left:after {
  bottom: -8px;
  left: 1px;
  border-right-color: #fff;
  border-left-width: 0;
}
.arrow:after {
  border-width: 8px;
  content: "";
}
.arrow, .arrow:after {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 8px;
}








.pull-in {
  margin-right: -15px;
  margin-left: -15px;
}
.no-bg {
  color: inherit;
  background-color: transparent;
}
.no-border, .no-borders {
  border-color: transparent;
  border-width: 0;
}

.list-group.no-bg .list-group-item {
  background-color: transparent;
}
.list-group.no-borders .list-group-item {
  border: 0;
}

.thumb-sm {
  display: inline-block;
  width: 40px;
}
.avatar {
  position: relative;
  display: block;
  white-space: nowrap;
  border-radius: 500px;
}

.m-r {
  margin-right: 15px;
}


.thumb img, .thumb-xs img, .thumb-sm img, .thumb-md img, .thumb-lg img, .thumb-btn img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

.clear {
  display: block;
  overflow: hidden;
}


// Timeline OP
.timeline {
  padding: 0;
  margin: 0;
  font-family: 'Titillium Web', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  li.tl-header {
    display: block;
    width: 12em;
    margin-left: 2px;
    text-align: center;
  }
  li.tl-item {
    display: block;
    .b-info {
      border-color: #23b7e5!important;
    }
    .b-success {
      border-color: #27c24c!important;
    }
    .b-primary {
      border-color: #7266ba!important;
    }
    .tl-wrap {
      display: block;
      padding: 15px 0 15px 20px;
      margin-left: 6em;
      border-color: #dee5e7;
      border-style: solid;
      border-width: 0 0 0 4px;
      .tl-date {
        position: relative;
        top: 10px;
        display: block;
        float: left;
        width: 4.5em;
        margin-left: -7.5em;
        text-align: right;
      }
      .tl-content {
        position: relative;
        display: inline-block;
        padding-top: 10px;
        padding-bottom: 10px;
      }
      .tl-content.panel {
        margin-bottom: 0;
        .arrow.pull-up {
          top: 19px;
        }
        .m-b-sm {
          margin-bottom: 10px;
        }
        .b-t {
          border-top: 1px solid #dee5e7;
        }
      }
      .w-md {
        // width: 240px;
        width: 100%;
      }
      .b-a {
        border: 1px solid #dee5e7;
      }
      .padder {
        padding-right: 15px;
        padding-left: 15px;
      }
    }
  }
}

.tl-item:before, .tl-item:after {
  display: table;
  content: " ";
}

.tl-wrap:before, .tl-wrap:after {
  display: table;
  content: " ";
}


.tl-item:after {
  clear: both;
}

.tl-wrap:before {
  position: relative;
  top: 15px;
  float: left;
  width: 10px;
  height: 10px;
  margin-left: -27px;
  background: #edf1f2;
  border-color: inherit;
  border-style: solid;
  border-width: 3px;
  border-radius: 50%;
  content: "";
  box-shadow: 0 0 0 4px #f0f3f4;
}

.tl-wrap:after {
  clear: both;
}






// LABEL
.m-r {
  margin-right: 15px;
}
.text-base {
  font-size: 12px;
}
.pos-rlt {
  position: relative;
}
.bg-primary {
  color: #f4f3f9;
  background-color: #7266ba;
}
.badge, .label {
  font-weight: bold;
  text-shadow: 0 1px 0 rgba(0,0,0,0.2);
}

.arrow.right {
  top: 50%;
  right: -9px;
  margin-top: -9px;
  border-left-color: rgba(0,0,0,0.1);
  border-right-width: 0;
}
.arrow, .arrow:after {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}
.arrow {
  z-index: 10;
  border-width: 9px;
}

.arrow.right.arrow-primary:after {
  border-left-color: #7266ba;
}
.arrow.right:after {
  right: 1px;
  bottom: -8px;
  border-left-color: #fff;
  border-right-width: 0;
}
.arrow:after {
  border-width: 8px;
  content: "";
}
.arrow, .arrow:after {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}