<div class="container">
	<ol class="breadcrumb">
	  <li class="active">
	  	“The world is a book and those who do not travel read only one page.” – St. Augustine
	  </li>
	</ol>

	<div class="row">
		<div class="col-sm-6 col-lg-4">
		  <a class="page-box-link" href="#">
		  <article class="page-box">
		    <h3 class="entry-title">Flights Tracked</h3>

		    <p class="entry-excerpt">
		    	<%= Trip.count %>
		    </p>

		    <div class="page-box-destination">
		      <span><i class="fa fa-map-marker"></i> See all Trips</span>
		    </div>
		  </article></a>
		</div>

		<div class="col-sm-6 col-lg-4">
		  <a class="page-box-link" href="#">
		  <article class="page-box">
		    <h3 class="entry-title">Miles Counted</h3>

		    <p class="entry-excerpt">
		    	43.642
		    </p>

		    <div class="page-box-destination">
		      <span><i class="fa fa-map-marker"></i> View map</span>
		    </div>
		  </article></a>
		</div>

		<div class="col-sm-6 col-lg-4">
		  <a class="page-box-link" href="#">
		  <article class="page-box">
		    <h3 class="entry-title">AnyRoadies</h3>

		    <p class="entry-excerpt">
		    	<%= User.count %>
		    </p>

		    <div class="page-box-destination">
		      <span><i class="fa fa-map-marker"></i> See Ladder</span>
		    </div>
		  </article></a>
		</div>

	</div>

	<br>
	<br>
	
	<div class="section_header">
		<h2>
			Anyroad <span>Rank</span> list
		</h2>
		<p>
			Quisque at tortor a libero posuere laoreet vitae sed arcu. Curabitur consequat.
		</p>
		<div style="width: 100%;padding-bottom: 20px;">
			<span style="background-color:#f1f1f1;width: 80px;height: 4px;display: block;margin: auto;"></span>
		</div>
	</div>

	<table class="table table-striped">
	  <tbody>
	    <tr>
	      <th scope="row">1</th>
	      <td>The Mini John</td>
	      <td>8 Flights</td>
	      <td>15.341 miles</td>
	      <td class="pull-right">
	      	<a href="#" class="btn btn-primary btn-xs">view profile</a>
	      </td>
	    </tr>
	    <tr>
	      <th scope="row">2</th>
	      <td>Bogdan</td>
	      <td>5 Flights</td>
	      <td>11.240 miles</td>
	      <td class="pull-right">
	      	<a href="#" class="btn btn-primary btn-xs">view profile</a>
	      </td>
	    </tr>
	    <tr>
	      <th scope="row">3</th>
	      <td>Christian</td>
	      <td>6 Flights</td>
	      <td>7.461 miles</td>
	      <td class="pull-right">
	      	<a href="#" class="btn btn-primary btn-xs">view profile</a>
	      </td>
	    </tr>
	  </tbody>
	</table>

</div>